.textBox label {
    display: block;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: none;
}

.textBox input[type=text],
.textBox input[type=password] {
    border: 2px solid #cececeb6;
    padding: 0.75rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0.4rem;
    transition: all 0.2s ease-out;
    background-position: 1.25rem center;
    background-repeat: no-repeat;
    background-size: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

.textBox input[type=text]:focus,
.textBox input[type=password]:focus {
    box-shadow: 0 0 0 3px #fff, 0 0 0 5px #3f3e4b;
    outline: none !important;
}

.textBox input[type=text]::-webkit-input-placeholder,
.textBox input[type=password]::-webkit-input-placeholder {
    font-family: "Inter", sans-serif;
}

.textBox input[type=text]::-moz-placeholder,
.textBox input[type=password]::-moz-placeholder {
    font-family: "Inter", sans-serif;
}

.textBox input[type=text]:-ms-input-placeholder,
.textBox input[type=password]:-ms-input-placeholder {
    font-family: "Inter", sans-serif;
}

.textBox input[type=text]:-moz-placeholder,
.textBox input[type=password]:-moz-placeholder {
    font-family: "Inter", sans-serif;
}