.btn {
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    border: 2px solid transparent;
    font-size: 1rem;
    outline: 0;
    transition: all 0.2s ease-out;
    display: block;
    cursor: pointer;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.btn.btn-primary {
    background-color: #0cbc8e;
    color: #fff;
}

.btn.btn-primary.btn-primary:hover {
    background-color: #0ba980;
    color: #fff;
    border: 2px solid #0ba980;
    outline: 0;
}


.btn.btn-secondary {
    background: transparent;
    border: 2px solid #0cbc8e;
    color: #0cbc8e;
}

.btn.btn-secondary.btn-secondary:hover {
    border: 2px solid #0ba980;
    outline: 0;
}
